In [69]:
import pandas as pd
import numpy as np
import re 
import sympy as sp

In [70]:
from math import gcd, isclose
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.impute import KNNImputer

In [71]:
df = pd.read_csv(r'/content/Bias_data.csv')

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1298 entries, 0 to 1297
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   link               1298 non-null   object
 1   id                 1298 non-null   object
 2   space_group_core   1276 non-null   float64
 3   space_group_shell  1259 non-null   float64
 4   core               1298 non-null   object
 5   shell              1298 non-null   object
 6   h_range_max_koe    1245 non-null   float64
 7   chemical formula   1298 non-null   object
 8   Tb                 988 non-null    float64
 9   TN                 1109 non-null   float64
 10  Tc                 1048 non-null   float64
 11  c1                 1298 non-null   object
 12  c2                 1298 non-null   object
 13  x                  1234 non-null   float64
 14  y                  1212 non-null   float64
 15  z                  1209 non-null   float64
 16  shape              1203 non-null   float64
 17  temperature_k      1265 non-null   float64
 18  sat_em_g           953 non-null    float64
 19  coer_oe            1252 non-null   float64
 20  mr (emu/g)         1024 non-null   float64
 21  exc_bias_oe        1267 non-null   float64
 22  exc_dir            1274 non-null   float64
 23  ver_shift_emu_g    1102 non-null   float64
 24  ver_s_dir          1145 non-null   float64
 25  fc_field_t         1206 non-null   float64
dtypes: float64(19), object(7)
memory usage: 263.8+ KB

In [73]:
columns = ['link'] # del id
df = df.drop(columns = columns)
df

,id,space_group_core,space_group_shell,core,shell,h_range_max_koe,chemical formula,Tb,TN,Tc,...,shape,temperature_k,sat_em_g,coer_oe,mr (emu/g),exc_bias_oe,exc_dir,ver_shift_emu_g,ver_s_dir,fc_field_t
0,1,186.0,227.0,Zn1O1,Co1Fe2O4,50.0,ZnO-CoFe2O4,300.0,NaN,793.0,...,1.0,5.0,NaN,27800.000,NaN,1132.000,0.0,0.000,1.0,5.0
1,2,225.0,227.0,Co1O1,Co1Fe2O4,50.0,CoO-CoFe2O4,276.0,293.0,843.0,...,1.0,5.0,NaN,7800.000,NaN,406.000,0.0,0.000,1.0,5.0
2,3,227.0,0.0,Mn0.50Zn0.50Fe2O4,0,10.0,Mn0.5Zn0.5Fe2O4,150.0,NaN,640.0,...,1.0,300.0,2.290,24.800,0.0078,51.340,1.0,0.000,1.0,0.0
3,4,227.0,0.0,Mn0.50Zn0.50Fe2O4,0,10.0,Mn0.5Zn0.5Fe2O4,150.0,NaN,640.0,...,1.0,300.0,2.430,90.200,0.0218,108.180,1.0,0.000,1.0,0.0
4,5,227.0,0.0,Mn0.50Zn0.50Fe2O4,0,10.0,Mn0.5Zn0.5Fe2O4,150.0,NaN,640.0,...,1.0,300.0,16.150,40.070,0.3498,8.920,1.0,0.000,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1293,val 28,161.0,0.0,BiFeO3,0,70.0,BiFeO3-SG,200.0,640.0,1103.0,...,1.0,2.0,NaN,1923.000,NaN,1180.000,0.0,NaN,1.0,7.0
1294,val 29,161.0,0.0,BiFeO3,0,70.0,BiFeO3-SG,200.0,640.0,1103.0,...,1.0,2.0,NaN,450.000,NaN,126.000,0.0,NaN,1.0,7.0
1295,val 30,15.0,225.0,NiCo2O4,NiO,30.0,NiCo2O4-NiO,75.0,490.0,NaN,...,1.0,10.0,0.845,619.815,0.1070,432.315,0.0,0.081,1.0,0.3
1296,val 31,15.0,225.0,NiCo2O4,NiO,30.0,NiCo2O4-NiO,75.0,490.0,NaN,...,1.0,30.0,0.783,289.735,0.6500,289.735,0.0,0.650,1.0,0.3
1297,val 32,15.0,225.0,NiCo2O4,NiO,30.0,NiCo2O4-NiO,75.0,490.0,NaN,...,1.0,200.0,0.670,358.220,0.6390,358.220,0.0,0.639,1.0,0.3

In [74]:
df['x'] = df['x'].astype('float64')
df['y'] = df['y'].astype('float64')
df['z'] = df['z'].astype('float64')

In [75]:
# Convert data types to numeric
df['shape'] = df['shape'].astype('float64')
df['space_group_core'] = df['space_group_core'].astype('float64')
df['space_group_shell'] = df['space_group_shell'].astype('float64')
# df['crystal_structure'] = df['crystal_structure'].astype('float64')

# Fill missing values in categorical features with the mode
df['shape'] = df['shape'].fillna(df['shape'].mode()[0])
df['space_group_core'] = df['space_group_core'].fillna(df['space_group_core'].mode()[0])
df['space_group_shell'] = df['space_group_shell'].fillna(df['space_group_shell'].mode()[0])
# df['crystal_structure'] = df['crystal_structure'].fillna(df['crystal_structure'].mode()[0])

# Convert data types to categorical
df['shape'] = df['shape'].astype('category')
df['space_group_core'] = df['space_group_core'].astype('category')
df['space_group_shell'] = df['space_group_shell'].astype('category')
# df['crystal_structure'] = df['crystal_structure'].astype('category')

In [76]:
df['exc_dir'] = df['exc_dir'].astype('category')
df['ver_s_dir'] = df['ver_s_dir'].astype('category')

In [77]:
df.columns

Index(['id', 'space_group_core', 'space_group_shell', 'core', 'shell',
       'h_range_max_koe', 'chemical formula', 'Tb', 'TN', 'Tc', 'c1', 'c2',
       'x', 'y', 'z', 'shape', 'temperature_k', 'sat_em_g', 'coer_oe',
       'mr (emu/g)', 'exc_bias_oe', 'exc_dir', 'ver_shift_emu_g', 'ver_s_dir',
       'fc_field_t'],
      dtype='object')

In [78]:
core, shel, all = df['c1'], df['c2'], df['chemical formula']

In [79]:
df  = df.drop(columns =['core', 'shell', 'chemical formula',
                        'c1', 'c2'])

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1298 entries, 0 to 1297
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1298 non-null   object
 1   space_group_core   1298 non-null   category
 2   space_group_shell  1298 non-null   category
 3   h_range_max_koe    1245 non-null   float64
 4   Tb                 988 non-null    float64
 5   TN                 1109 non-null   float64
 6   Tc                 1048 non-null   float64
 7   x                  1234 non-null   float64
 8   y                  1212 non-null   float64
 9   z                  1209 non-null   float64
 10  shape              1298 non-null   category
 11  temperature_k      1265 non-null   float64
 12  sat_em_g           953 non-null    float64
 13  coer_oe            1252 non-null   float64
 14  mr (emu/g)         1024 non-null   float64
 15  exc_bias_oe        1267 non-null   float64
 16  exc_dir            1274 non-null   category
 17  ver_shift_emu_g    1102 non-null   float64
 18  ver_s_dir          1145 non-null   category
 19  fc_field_t         1206 non-null   float64
dtypes: category(5), float64(14), object(1)
memory usage: 161.9+ KB

In [81]:
df_for_kNN = df.drop(columns=['id'])

# Normalize the data
scaler = StandardScaler()
normalized_data = scaler.fit_transform(df_for_kNN)

# Fill missing values in the dataset using kNN
imputer = KNNImputer(n_neighbors=5)
imputed_data = imputer.fit_transform(normalized_data)
df_imputed = pd.DataFrame(imputed_data, columns=df_for_kNN.columns)

# Combine the filled data with the original dataset
df_filled = pd.concat([df[['id']], df_imputed], axis=1)

# Print information about missing values after imputation
print(f'Percentage of missing values after imputation: \n{df_filled.isna().sum() * 100 / len(df_filled)}')

Percentage of missing values after imputation:
id                   0.0
space_group_core     0.0
space_group_shell    0.0
h_range_max_koe      0.0
Tb                   0.0
TN                   0.0
Tc                   0.0
x                    0.0
y                    0.0
z                    0.0
shape                0.0
temperature_k        0.0
sat_em_g             0.0
coer_oe              0.0
mr (emu/g)           0.0
exc_bias_oe          0.0
exc_dir              0.0
ver_shift_emu_g      0.0
ver_s_dir            0.0
fc_field_t           0.0
dtype: float64

In [82]:
df_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1298 entries, 0 to 1297
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1298 non-null   object
 1   space_group_core   1298 non-null   float64
 2   space_group_shell  1298 non-null   float64
 3   h_range_max_koe    1298 non-null   float64
 4   Tb                 1298 non-null   float64
 5   TN                 1298 non-null   float64
 6   Tc                 1298 non-null   float64
 7   x                  1298 non-null   float64
 8   y                  1298 non-null   float64
 9   z                  1298 non-null   float64
 10  shape              1298 non-null   float64
 11  temperature_k      1298 non-null   float64
 12  sat_em_g           1298 non-null   float64
 13  coer_oe            1298 non-null   float64
 14  mr (emu/g)         1298 non-null   float64
 15  exc_bias_oe        1298 non-null   float64
 16  exc_dir            1298 non-null   float64
 17  ver_shift_emu_g    1298 non-null   float64
 18  ver_s_dir          1298 non-null   float64
 19  fc_field_t         1298 non-null   float64
dtypes: float64(19), object(1)
memory usage: 202.9+ KB

In [83]:
# Transform back to our original values
org_copy = scaler.inverse_transform(df_filled.iloc[:, 1:])  # Excluding the id column
df_recopy = pd.DataFrame(org_copy, columns=df_filled.columns[1:])  # Data in its original form

df_recopy['id'] = id
print(df_recopy['sat_em_g'].unique())

[51.8758 59.734   2.29   ...  0.845   0.783   0.67  ]

In [84]:
df = df_recopy

In [85]:
# Add columns for our values
df.insert(0, 'area', 0)
df.insert(0, 'volume', 0)
df = df.astype({'volume': float ,'area': float})

In [86]:
# Create dictionaries for calculating area and volume
dict_area = {
    1: lambda x, y=1, z=1: 4 * 3.14159 * x ** 2,  # Sphere
    2: lambda x, y=1, z=1: (3 ** 2) * 2 * x ** 2,  # Area for case 2
    3: lambda x, y=1, z=1: 6 * x ** 2,  # Cube
    4: lambda x, y=1, z=1: (3 ** (1/2)) * x ** 2,  # Regular tetrahedron
    5: lambda x, y=1, z=1: (3 ** (1/2)) * x ** 2,  # Repeated case 4
    6: lambda x, y=1, z=0: 2 * 3.14159 * (x / 2) * x + 2 * 3.14159 * (x / 2) ** 2,  # Cylinder
    7: lambda x, y=1, z=1: 6 * x ** 2,  # Cube (another case)
}

dict_volume = {
    1: lambda x, y=1, z=1: (4/3) * 3.14159 * x ** 3,  # Sphere
    2: lambda x, y=1, z=1: (2/3) * (2 ** 2) * x ** 3,  # Volume for case 2
    3: lambda x, y=1, z=1: x ** 3,  # Cube
    4: lambda x, y=1, z=1: (((2) ** (1/2)) * x ** 3) / 12,  # Regular tetrahedron
    5: lambda x, y=1, z=1: (((2) ** (1/2)) * x ** 3) / 12,  # Repeated case 4
    6: lambda x, y=1, z=0: 3.14159 * (x / 2) ** 2 * y,  # Cylinder
    7: lambda x, y=1, z=1: x ** 3  # Cube  another case)
}

In [87]:
# Create a function to calculate area
def calculate_area(row):
    shape = float(row['shape'])
    x = row['x']
    y = row.get('y', 0)
    z = row.get('z', 0)

    if shape in dict_area:
        if shape in [1, 2, 3, 4, 5, 6, 7]:
            return dict_area[shape](x, y) if shape in [3, 6] else dict_area[shape](x, z) if shape == 4 else dict_area[shape](x)
    else:
        return 'error'

# Create a function to calculate volume
def calculate_volume(row):
    shape = float(row['shape'])
    x = row['x']
    y = row.get('y', 0)
    z = row.get('z', 0)

    if shape in dict_volume:
        if shape in [1, 2, 3, 4, 5, 6, 7]:
            return dict_volume[shape](x, y, z) if shape in [3, 6] else dict_volume[shape](x, z) if shape == 4 else dict_volume[shape](x)
    else:
        return 'error'

In [88]:
df['area'] = df.apply(calculate_area, axis=1)
df['volume'] = df.apply(calculate_volume, axis=1)

In [89]:
print(df['area'].unique())

[6.88133874e+02 6.15751640e+02 3.63167804e+03 1.52052956e+03
 1.80955584e+03 4.07150064e+03 5.54176476e+03 9.16087644e+03
 1.62860026e+04 1.13097240e+04 2.49415316e+02 4.43405007e+02
 1.03680000e+04 1.96020000e+04 3.93691492e+03 5.22961638e+03
 7.42030992e+03 1.36019537e+04 7.85397500e+03 5.02654400e+05
 4.71238500e+06 5.30928710e+04 1.70553780e+03 4.63246295e+03
 5.57644791e+03 1.36847660e+04 3.40055805e+04 1.26676763e+04
 4.53645596e+03 2.12371484e+03 2.09116797e+03 2.82743100e+03
 3.54672945e+03 4.34745791e+03 5.02654400e+03 1.21500000e+04
 1.38240000e+04 1.56060000e+04 2.40000000e+03 3.21698816e+03
 3.75000000e+03 3.52800000e+03 6.14400000e+03 7.35000000e+03
 2.12176224e+03 2.39313760e+03 1.25663600e+03 8.04247040e+02
 5.83200000e+03 1.60459851e+03 4.02638741e+03 6.82215118e+03
 1.74736824e+03 1.74736824e+03 3.45194737e+03 8.60894024e+03
 2.01061760e+04 2.43284730e+04 3.01718304e+04 5.14718106e+04
 1.80123641e+04 2.32351996e+04 1.77952224e+03 1.38544119e+03
 1.20687321e+03 9.95381376e+04 1.01787516e+05 5.70859576e+02
 1.08686448e+03 1.93220351e+03 1.99503531e+03 7.84266528e+02
 1.73400000e+03 2.01061760e+02 1.01787516e+03 4.29618841e+03
 4.52388960e+04 1.30740409e+03 4.52388960e+02 2.54468790e+04
 1.11036357e+03 4.37434992e+02 1.69092940e+03 7.66661057e+03
 1.08618589e+04 1.53059521e+04 1.70178674e+04 3.71763194e+03
 9.60000000e+03 7.77250603e+03 6.19320486e+03 4.87687865e+03
 2.90333181e+03 1.87037702e+03 1.62000000e+06 4.08451153e+04
 6.88800362e+04 1.72033468e+04 3.46278616e+03 3.50463214e+03
 4.77835839e+03 1.05683088e+04 1.20762720e+04 3.66435058e+04
 2.75253549e+03 4.11686520e+03 1.96349375e+03 5.02654400e+01
 6.64760444e+03 5.24880000e+02 1.49058000e+03 2.06082000e+03
 1.79751224e+03 2.07498878e+03 2.59852721e+03 3.30198828e+03
 4.28689936e+03 5.58936739e+03 3.53407387e+03 7.23822336e+03
 1.91134336e+04 8.82000000e+02 3.04200000e+03 4.16248109e+03
 1.05537368e+04 1.13550081e+04 1.81458238e+04 1.77056117e+03
 5.35857865e+03 8.00549514e+03 8.63922673e+03 9.73138918e+02
 1.54830122e+03 1.72020902e+03 5.20200000e+03 1.66865377e+04
 8.04247040e+06 1.55884573e+03 1.45267122e+02 4.98758828e+02
 3.45042086e+02 2.77590892e+04 3.14159000e+04 1.53937910e+04
 3.80132390e+04 3.01592640e+06 3.45600000e+03 5.04600000e+03
 5.81068486e+02 6.51440102e+02 2.22286342e+03 1.49300923e+03
 6.00019814e+02 8.90909685e+04 3.14159000e+02 2.64207719e+03
 5.92828589e+03 1.31424000e+03 4.56515250e+03 1.40821440e+03
 2.65667427e+03 3.84844775e+03 9.50330975e+03 4.83050878e+04
 6.15751640e+04 7.25832954e+04 8.44962046e+04 9.73138918e+04
 2.72285878e+03 4.52691055e+03 8.50793340e+03 2.53388083e+03
 5.80879991e+03 7.91693246e+03 7.84080000e+04 2.32351996e+02
 2.98035103e+02 6.33470208e+02 4.97640422e+03 1.24660302e+03
 1.19900446e+05 1.74885038e+05 1.83488962e+04 9.75581505e+03
 7.20000000e+03 8.71200000e+03 1.21680000e+04 1.23162894e+03
 5.70198585e+02 1.20637056e+03 8.04247040e+04 8.92603429e+02
 2.56969496e+03 2.91863261e+03 2.71546473e+03 2.91946702e+04
 5.42755967e+06 1.35917750e+03 2.64600000e+05 7.26000000e+04
 4.86000000e+04 4.33500000e+04 1.81500000e+04 1.50000000e+04
 2.16600000e+03 1.63312415e+03 1.82623107e+05 9.95407262e+03
 9.85202624e+03 3.94081050e+02 5.98284400e+02 7.55330400e+02
 4.19821981e+04 5.40000000e+03 4.72947525e+03 4.08375000e+04
 1.52409600e+04 1.05336600e+04 8.34774000e+03 7.54295759e+03
 1.05100813e+04 9.56561502e+03 1.01640942e+04 5.76240000e+04
 5.14718106e+02 6.19275247e+04 5.81068486e+04 5.29296340e+04
 2.96812397e+04 1.79553178e+04 6.08211824e+03 1.29854481e+03
 2.01840000e+02 3.46560000e+02 6.99840000e+02 9.98460000e+02
 2.94524062e+03 1.62860026e+02 7.64537342e+02 1.17666368e+04
 1.30293047e+04 1.10846605e+04 9.74675156e+03 1.19209518e+04
 1.20984000e+05 1.45267122e+04 9.07919510e+02 9.16254877e+02
 3.39481958e+02 2.18160776e+03 7.74128491e+03 3.39794374e+04
 6.04127099e+03 3.26056407e+03 2.57257094e+03 1.97860233e+03
 7.54377491e+02 2.82743100e+05 1.25663600e+07 1.28189438e+03
 3.09748208e+03 3.37984819e+03 1.28679526e+04 1.77362003e+03
 1.62523586e+06 1.17809625e+04 1.20687321e+05 1.69645860e+02
 1.27876536e+04 1.70085627e+03 3.50127521e+03 3.40462402e+03
 2.48133716e+03 3.96365111e+03 5.06683678e+03 3.39718177e+03
 2.90791783e+03 6.48960000e+02 7.12860000e+02 6.61500000e+02
 6.86940000e+02 7.26000000e+02 3.16298913e+04 2.40000000e+05
 1.08175701e+04 1.10771973e+04 1.03796575e+04 1.07439563e+04
 7.87283585e+03 9.66990952e+03 8.19051343e+03 7.78501207e+03
 7.60500000e+04 1.01250000e+05 1.15200000e+05 4.66276723e+04
 7.60465842e+05 1.08323230e+04 2.46300656e+03 1.46574023e+03
 1.18236881e+03 4.24114650e+03 1.65152130e+02 2.53882569e+02
 4.36104842e+02 1.04955495e+02 2.62447172e+02 1.02694305e+03
 4.42257458e+03 8.94233457e+03 3.10675264e+04 2.07302146e+04
 8.52101749e+03 9.29407986e+04 6.21040821e+04 3.23017027e+04
 7.45059484e+02 2.57304075e+04 5.47390642e+02 2.02682820e+03
 2.89528934e+02 8.24478880e+02 1.87974000e+03 3.37014000e+03
 1.80955584e+05 3.84000000e+02 4.70400000e+03 1.25663600e+05
 1.15811574e+03 7.06857750e+02 6.47531964e+01 1.19984862e+02
 2.12272210e+02 5.77267162e+03 3.19740000e+04 4.43760000e+04
 7.06857750e+04 8.49485936e+03 1.09026211e+06 1.09908083e+04
 5.33266053e+03 3.14501308e+03 5.30160000e+04 3.62313794e+03
 2.03961573e+03]

In [90]:
def calculate_sphericity(row):
    area = row['area']
    volume = row['volume']

    # Check if area and volume are greater than zero
    if area <= 0 or volume <= 0:
        return float('nan')  # Return NaN for invalid data

    radius_sphere = (3 * volume / (4 * np.pi)) ** (1/3)
    surface_area_sphere = 4 * np.pi * radius_sphere ** 2
    sphericity = surface_area_sphere / area

    # Limit sphericity within the range of 0 to 1
    sphericity = max(0, min(1, sphericity))

    return sphericity

# Apply the function to the entire DataFrame
df['sphericity'] = df.apply(calculate_sphericity, axis=1)

In [91]:
print(df['sphericity'].unique())

[1.         0.67113929 0.67113929 0.51664327 0.06436598 0.40775738
 0.80599598 0.80599598 0.80599598 0.67113929 0.51664327 0.49325101
 0.53995481 0.51664327 0.67113929 0.23272239 0.92055376 0.9598049
 0.80599598 0.80599598 0.55615782 0.21839518 0.84278499 0.24326802
 0.87358071 0.13388663 0.26958259 0.03585747 0.05692019]

In [92]:
def compute_max_min_ratio(df):
    max_min_ratios = []
    for index, row in df.iterrows():
        values = [row['x'], row['y'], row['z']]
        non_zero_values = [value for value in values if value != 0]
        # Check if there are any non-zero values
        if non_zero_values:
            max_value = max(non_zero_values)
            min_value = min(non_zero_values)
            if min_value != 0:  # Ensure we don't divide by zero
                ratio = max_value / min_value
                max_min_ratios.append(ratio)
            else:
                max_min_ratios.append(0)
        else:
            max_min_ratios.append(0)

    df['max/min'] = max_min_ratios
    return df

# Apply the function
df = compute_max_min_ratio(df)

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1298 entries, 0 to 1297
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   volume             1298 non-null   float64
 1   area               1298 non-null   float64
 2   space_group_core   1298 non-null   float64
 3   space_group_shell  1298 non-null   float64
 4   h_range_max_koe    1298 non-null   float64
 5   Tb                 1298 non-null   float64
 6   TN                 1298 non-null   float64
 7   Tc                 1298 non-null   float64
 8   x                  1298 non-null   float64
 9   y                  1298 non-null   float64
 10  z                  1298 non-null   float64
 11  shape              1298 non-null   float64
 12  temperature_k      1298 non-null   float64
 13  sat_em_g           1298 non-null   float64
 14  coer_oe            1298 non-null   float64
 15  mr (emu/g)         1298 non-null   float64
 16  exc_bias_oe        1298 non-null   float64
 17  exc_dir            1298 non-null   float64
 18  ver_shift_emu_g    1298 non-null   float64
 19  ver_s_dir          1298 non-null   float64
 20  fc_field_t         1298 non-null   float64
 21  id                 1298 non-null   object
 22  sphericity         1298 non-null   float64
 23  max/min            1298 non-null   float64
dtypes: float64(23), object(1)
memory usage: 243.5+ KB

In [94]:
df.insert(0, 'area/volume', 0)
df = df.astype({'area/volume': float})

In [95]:
# Calculate the ratio of area to volume
df['area/volume'] = df['area'] / df['volume']

In [96]:
df['area/volume'].unique()

array([0.40540541, 0.42857143, 0.17647059, 0.27272727, 0.25      ,
       0.16666667, 0.14285714, 0.11111111, 0.08333333, 0.1       ,
       1.22474487, 0.91855865, 0.28125   , 0.20454545, 0.16949153,
       0.14705882, 0.12345679, 0.09118541, 0.12      , 0.015     ,
       0.3       , 0.04615385, 0.25751073, 0.15625   , 0.54694622,
       0.09090909, 0.05767013, 0.09448819, 0.15789474, 0.23076923,
       0.23255814, 0.2       , 0.17857143, 0.16129032, 0.15      ,
       0.13333333, 0.125     , 0.11764706, 0.1875    , 0.24      ,
       0.48214286, 0.17142857, 0.41991253, 0.2173913 , 0.3       ,
       0.375     , 0.26548673, 0.16759777, 0.12875536, 0.25440977,
       0.25440977, 0.1810064 , 0.11461756, 0.075     , 0.06818182,
       0.06122449, 0.046875  , 0.0792393 , 0.06976744, 0.25210084,
       0.28571429, 0.30612245, 0.03370787, 0.03333333, 0.44510386,
       0.32258065, 0.24193548, 0.23809524, 0.37974684, 0.35294118,
       0.75      , 0.33333333, 0.16224986, 0.05      , 0.29411765,
       0.5       , 0.06666667, 0.31914894, 0.50847458, 0.25862069,
       0.12145749, 0.10204082, 0.08595989, 0.08152174, 0.1744186 ,
       0.15      , 0.12062726, 0.13513514, 0.15228426, 0.19736842,
       0.24590164, 0.0225    , 0.15189873, 0.10212766, 0.08108108,
       0.18072289, 0.17964072, 0.15384615, 0.10344828, 0.09677419,
       0.05555556, 0.2027027 , 0.16574586, 0.24      , 1.5       ,
       0.13043478, 1.25      , 0.74175824, 0.63084112, 0.25083612,
       0.23346304, 0.20862309, 0.18507094, 0.16242555, 0.14224751,
       0.17889088, 0.125     , 0.07692308, 0.96428571, 0.51923077,
       0.16483516, 0.10351967, 0.0998004 , 0.07894737, 0.25273799,
       0.14527845, 0.11885895, 0.11441648, 0.34090909, 0.27027027,
       0.25641026, 0.39705882, 0.08232711, 0.00375   , 0.48989795,
       0.88235294, 0.47619048, 0.57251908, 0.06382979, 0.06      ,
       0.08571429, 0.05454545, 0.25      , 0.20689655, 0.44117647,
       0.41666667, 0.22556391, 0.27522936, 0.4341534 , 0.03562945,
       0.6       , 0.20689655, 0.13812155, 0.40540541, 0.15739769,
       0.39164491, 0.20632737, 0.17142857, 0.10909091, 0.0483871 ,
       0.04285714, 0.03947368, 0.03658537, 0.03409091, 0.20380435,
       0.15806112, 0.11529593, 0.21126761, 0.13953488, 0.11952191,
       0.10227273, 0.69767442, 0.61601643, 0.42253521, 0.15075377,
       0.30120482, 0.03071253, 0.02543019, 0.08888889, 0.11450382,
       0.3375    , 0.30681818, 0.25961538, 0.3030303 , 0.06741573,
       0.06122449, 0.0375    , 0.35595634, 0.20979021, 0.19685039,
       0.20408163, 0.06224066, 0.00456482, 0.28846154, 0.02857143,
       0.05454545, 0.06666667, 0.07058824, 0.10909091, 0.12      ,
       0.31578947, 0.26315789, 0.06      , 0.10714286, 0.53571429,
       0.43478261, 0.53475936, 0.05190311, 0.15463918, 0.07272727,
       0.11904762, 0.14319809, 0.16085791, 0.12244898, 0.10373444,
       0.10873505, 0.10548523, 0.46875   , 0.04273504, 0.04411765,
       0.04622496, 0.0617284 , 0.07936508, 0.13636364, 0.38143675,
       1.03448276, 0.78947368, 0.55555556, 0.46511628, 0.00702864,
       0.01677149, 0.02137418, 0.01715281, 0.01666667, 0.01627295,
       0.01148809, 0.00648158, 0.00781854, 0.00885217, 0.00878274,
       0.83333333, 0.38461538, 0.09803922, 0.0931677 , 0.1010101 ,
       0.10771993, 0.0974026 , 0.04225352, 0.08823529, 0.63899732,
       1.04978132, 0.2276867 , 0.12087027, 0.05769231, 0.13682386,
       0.18624286, 0.20967291, 0.23908193, 0.3871967 , 0.02      ,
       0.003     , 0.2970297 , 0.1910828 , 0.18292683, 0.09375   ,
       0.45927933, 0.06952491, 0.03061224, 0.11538462, 0.09404389,
       0.25786488, 0.17972682, 0.18226002, 0.21349274, 0.16891892,
       0.14940239, 0.18245955, 0.19721273, 0.57692308, 0.55045872,
       0.57142857, 0.56074766, 0.54545455, 0.05979669, 0.03      ,
       0.10224949, 0.10104412, 0.10438413, 0.10259918, 0.11985617,
       0.10814708, 0.11750881, 0.12053033, 0.10384615, 0.09      ,
       0.084375  , 0.04924976, 0.01219512, 0.10217984, 0.21428571,
       0.27777778, 0.30927835, 0.01090909, 0.00923077, 0.008     ,
       1.03806228, 0.65645514, 0.33185841, 0.15991471, 0.11246064,
       0.06033547, 0.07386252, 0.11520737, 0.03488372, 0.04267425,
       0.0591716 , 0.38961039, 0.06629834, 0.45454545, 0.23622047,
       0.625     , 0.37037037, 0.33898305, 0.25316456, 0.025     ,
       2.        , 0.03      , 0.3125    , 0.4       , 1.3215859 ,
       0.97087379, 0.72992701, 1.        , 0.08219178, 0.04      ,
       0.11538462, 1.5       , 0.75      , 0.10144045, 0.14563107,
       0.18963338, 0.17667845, 0.23547881])

In [97]:
df['core'] = core
df['shell'] = shel
df['formula'] = all

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1298 entries, 0 to 1297
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   area/volume        1298 non-null   float64
 1   volume             1298 non-null   float64
 2   area               1298 non-null   float64
 3   space_group_core   1298 non-null   float64
 4   space_group_shell  1298 non-null   float64
 5   h_range_max_koe    1298 non-null   float64
 6   Tb                 1298 non-null   float64
 7   TN                 1298 non-null   float64
 8   Tc                 1298 non-null   float64
 9   x                  1298 non-null   float64
 10  y                  1298 non-null   float64
 11  z                  1298 non-null   float64
 12  shape              1298 non-null   float64
 13  temperature_k      1298 non-null   float64
 14  sat_em_g           1298 non-null   float64
 15  coer_oe            1298 non-null   float64
 16  mr (emu/g)         1298 non-null   float64
 17  exc_bias_oe        1298 non-null   float64
 18  exc_dir            1298 non-null   float64
 19  ver_shift_emu_g    1298 non-null   float64
 20  ver_s_dir          1298 non-null   float64
 21  fc_field_t         1298 non-null   float64
 22  id                 1298 non-null   object
 23  sphericity         1298 non-null   float64
 24  max/min            1298 non-null   float64
 25  core               1298 non-null   object
 26  shell              1298 non-null   object
 27  formula            1298 non-null   object
dtypes: float64(24), object(4)
memory usage: 284.1+ KB

In [99]:
# Export the data to a separate dataset
df.to_csv(r'second_bias.csv')